<div class="fixed bottom-5 right-5 flex flex-col space-y-3 z-50">
  @for (toast of toasts(); track toast.id) {
  <div @toastAnimation class="flex items-center max-w-md p-3 rounded-lg shadow-lg bg-white dark:bg-gray-800 border-l-4"
    [ngClass]="{
      ' border-purple-500': toast.type === 'notification',
      'border-green-500': toast.type === 'success',
      'border-red-500': toast.type === 'error',
      'border-blue-500': toast.type === 'info',
      'border-yellow-500': toast.type === 'warning'
    }">
    <!-- Icono -->
    <div class="mr-3">
      <i [ngClass]="{
          ' fa-bell text-purple-500': toast.type === 'notification',
          ' fa-circle-check text-green-500': toast.type === 'success',
          ' fa-triangle-exclamation text-red-500': toast.type === 'error',
          ' fa-info-circle text-blue-500': toast.type === 'info',
          ' fa-exclamation-triangle text-yellow-500': toast.type === 'warning'
        }" class="text-lg fa-solid"></i>
    </div>

    <!-- Mensaje -->
    <span class="flex-1 text-[13px] text-black dark:text-gray-200 font-medium">{{ toast.message }}</span>

    <!-- Botón Cerrar -->
    <button class="ml-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" (click)="removeToast(toast.id)">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  }
</div>