<section class="flex flex-col gap-3">
    <h2 class="text-2xl font-bold text-primary text-center">Recupera tu Contraseña</h2>
    <p class="text-center text-sm text-gray-600 mt-2">
        Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña de manera rápida y
        segura.
    </p>
    <input type="email" placeholder="Correo electrónico"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary outline-none transition mt-4" />
    <button class="w-full bg-primary text-white py-3 rounded-lg font-semibold hover:bg-blue-800 transition mt-4">
        Recuperar Contraseña
    </button>
    <div class="flex justify-between mt-4 text-sm">
        <a routerLink="/login" class="text-primary hover:underline">Volver a iniciar sesión</a>
        <a routerLink="/" class="text-[#E87722] hover:underline">Consultar Aporte</a>
    </div>
</section>